body .social {
  font-family: "Open Sans";
}
body .social .header {
  width: 100%;
  height: 68px;
  background: linear-gradient(to right, #6870da, #6bafca);
  position: relative;
}
body .social .header .logo {
  position: absolute;
  left: 93px;
  top: 14px;
}
body .social .header .logo img {
  width: 67px;
}
body .social .header .search {
  position: absolute;
  left: 250px;
  top: 14px;
  width: 510px;
  height: 42px;
  background: linear-gradient(to right, #3bb0c1, #564ce0);
  padding-left: 27px;
  padding-top: 8px;
}
body .social .header .search .s-first {
  width: 225px;
  float: left;
}
body .social .header .search .s-first input {
  width: 175px;
  background-color: #ffffff;
  border: none;
  height: 26px;
  font-size: 13px;
}
body .social .header .search .s-first input:focus {
  box-shadow: none;
}
body .social .header .search .s-first span {
  width: 50px;
  background-color: #ffffff;
  border: none;
  padding: 3px 12px;
  font-size: 18px;
}
body .social .header .search .s-first span i {
  color: #5269d6;
}
body .social .header .search .s-last {
  margin-left: 25px;
  width: 173px;
  height: 26px;
  float: left;
}
body .social .header .search .s-last select {
  height: 26px;
  padding: 2px 15px;
  font-size: 13px;
  border-radius: 3px;
}
body .social .header .search .s-last select option {
  font-size: 13px;
}
body .social .header .search button {
  background-color: transparent;
  color: #ffffff;
  border: none;
  margin-left: 17px;
  margin-top: 2px;
}
body .social .navigation {
  width: 100%;
  height: 43px;
  background-color: #0e4ff5;
  padding: 10px 0px;
}
body .social .navigation .user-button {
  color: #2b50ac;
  background-color: #3d72f6;
  border: none;
  border-radius: 50%;
  margin-left: 247px;
}
body .social .navigation .user-name {
  margin-left: 22px;
  color: #f5f6fe;
  font-size: 15px;
  font-weight: 600;
}
body .social .navigation .setting-button,
body .social .navigation .bell-button {
  color: #e4ecfc;
  background-color: transparent;
  border: none;
  font-size: 16px;
}
body .social .navigation .setting-button {
  margin-left: 293px;
}
body .social .navigation .bell-button {
  margin-left: 2px;
}
body .social .navigation .network {
  display: inline;
  margin-left: 120px;
}
body .social .navigation .network button {
  color: #1a58f5;
  background-color: #fffeff;
  border: none;
  border-radius: 50%;
  margin-right: 10px;
  font-size: 14px;
}
body .social .navigation .network .fb-button {
  padding: 2px 8.1px;
}
body .social .navigation .network .fb-button i {
  font-weight: 600;
}
body .social .navigation .network .tw-button {
  padding: 2px 6px;
}
body .social .navigation .network .yo-button {
  padding: 2px 6.5px;
}
body .social .navigation .network .ma-button {
  padding: 2px 5.7px;
}
body .social .content .left-site {
  width: 250px;
  background-color: #ffffff;
  padding-left: 28px;
  position: relative;
  float: left;
}
body .social .content .left-site .avatar {
  position: absolute;
  left: 50px;
  top: -25px;
  height: 150px;
  width: 150px;
  background: url('Images/1_0018_Group-2-copy.png') no-repeat;
  background-size: cover;
  padding: 8px 8px 10px 9px;
  overflow: hidden;
}
body .social .content .left-site .avatar img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
body .social .content .left-site .edit-profile {
  color: #166a9d;
  padding-top: 128px;
}
body .social .content .left-site .edit-profile i {
  margin-right: 2px;
}
body .social .content .left-site .account-manager {
  margin: 10px 0;
}
body .social .content .left-site .account-manager a {
  color: #312c2c;
  font-size: 18px;
  font-weight: 600;
  text-decoration: underline;
  text-decoration-color: #928a8a;
}
body .social .content .left-site .complete-measure {
  font-size: 13px;
  color: #847e76;
}
body .social .content .left-site .complete-measure span {
  color: #ef2711;
}
body .social .content .left-site .action {
  list-style-type: none;
  padding-left: 0;
  font-size: 13px;
  margin-top: 20px;
  margin-bottom: 20px;
}
body .social .content .left-site .action li {
  margin-bottom: 2px;
}
body .social .content .left-site .action li a {
  color: #272829;
  text-decoration: none;
}
body .social .content .left-site .action li a i {
  margin-right: 7px;
}
body .social .content .left-site .contact {
  font-size: 10px;
}
body .social .content .left-site .contact i {
  font-size: 12px;
  margin-right: 7px;
}
body .social .content .left-site .contact .address {
  margin-right: 10px;
}
body .social .content .left-site .favourite-list .header-list {
  background-color: #0f466d;
  color: #fffefd;
  font-size: 18px;
  text-align: center;
  padding: 7px;
  margin-top: 40px;
}
body .social .content .left-site .favourite-list .block {
  list-style-type: none;
  padding: 0;
}
body .social .content .left-site .favourite-list .block li {
  overflow: hidden;
  position: relative;
  height: 125px;
  margin-bottom: 7px;
}
body .social .content .left-site .favourite-list .block li img {
  width: 100%;
  height: 100%;
}
body .social .content .left-site .favourite-list .block li .status {
  position: absolute;
  top: 55px;
  right: 22px;
  color: #f9fafa;
  text-transform: uppercase;
  font-size: 23px;
}
body .social .content .left-site .favourite-list .block li .name-button {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 160px;
  color: #f9fafa;
  font-size: 10px;
  padding-left: 5px;
}
body .social .content .left-site .favourite-list .block li .name-button span {
  line-height: 24px;
}
body .social .content .left-site .favourite-list .block li .name-button button {
  float: right;
  font-size: 18px;
  background-color: transparent;
  border: none;
  /*vertical-align: middle;*/
}
body .social .content .left-site .favourite-list .block li .name-button-1 {
  background-color: rgba(41, 112, 175, 0.75);
}
body .social .content .left-site .favourite-list .block li .name-button-2 {
  background-color: rgba(27, 136, 31, 0.75);
}
body .social .content .left-site .favourite-list .block li .name-button-3 {
  background-color: rgba(236, 46, 90, 0.75);
}
body .social .content .left-site .event-list .header-list {
  background-color: #0f466d;
  color: #fffefd;
  font-size: 18px;
  text-align: center;
  padding: 7px;
  margin-top: 40px;
}
body .social .content .left-site .event-list .block {
  list-style-type: none;
  padding: 0;
}
body .social .content .left-site .event-list .block li {
  position: relative;
  margin: 0 auto;
  width: 90%;
  border-bottom: 1px solid rgba(21, 25, 25, 0.25);
  text-transform: uppercase;
  height: 49px;
  margin-bottom: 9px;
}
body .social .content .left-site .event-list .block li .date-month {
  position: absolute;
  top: 2px;
  width: 28px;
  color: #2d7ebf;
}
body .social .content .left-site .event-list .block li .date-month .date {
  display: block;
  font-size: 24px;
  text-align: center;
  line-height: 22px;
}
body .social .content .left-site .event-list .block li .date-month .month {
  display: block;
  font-size: 10px;
  text-align: center;
  line-height: 11px;
}
body .social .content .left-site .event-list .block li .name-time {
  position: absolute;
  left: 40px;
}
body .social .content .left-site .event-list .block li .name-time .name {
  font-size: 12px;
  color: #29b3e8;
}
body .social .content .left-site .event-list .block li .name-time .day-time {
  text-transform: none;
  font-size: 11px;
}
body .social .content .left-site .event-list .block li .name-time .day-time .day {
  font-weight: bold;
}
body .social .content .left-site .event-list .block li button {
  position: absolute;
  right: 7px;
  top: 6px;
  border: none;
  background: transparent;
  color: #1295e2;
  font-size: 20px;
}
body .social .content .center-site {
  width: 535px;
  background-color: #f6f7f9;
  padding: 15px;
  float: left;
}
body .social .content .center-site .new-status {
  border: 1px solid rgba(111, 103, 103, 0.15);
  border-radius: 3px;
}
body .social .content .center-site .new-status .action {
  padding: 7px;
}
body .social .content .center-site .new-status .action span {
  color: #3f73b9;
  font-weight: 600;
  font-size: 12px;
}
body .social .content .center-site .new-status .action span i {
  margin-right: 6px;
  color: rgba(49, 58, 66, 0.91);
}
body .social .content .center-site .new-status .action span:first-child {
  color: rgba(49, 58, 66, 0.91);
}
body .social .content .center-site .new-status .status {
  border-top: 1px solid rgba(111, 103, 103, 0.15);
  padding: 0px 10px;
  background-color: #ffffff;
}
body .social .content .center-site .new-status .status > div {
  border-bottom: 1px solid rgba(111, 103, 103, 0.15);
  padding: 13px 0px 3px 0px;
  position: relative;
}
body .social .content .center-site .new-status .status > div .avatar {
  position: absolute;
  top: 12px;
  left: 0px;
  height: 50px;
  width: 50px;
  background: url('Images/1_0018_Group-2-copy.png') no-repeat;
  background-size: cover;
  padding: 4px;
  overflow: hidden;
}
body .social .content .center-site .new-status .status > div .avatar img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
body .social .content .center-site .new-status .status > div .text {
  /*top: 20px;
                                left: 56px;*/
  padding-left: 55px;
  width: 100%;
  padding-top: 7px;
}
body .social .content .center-site .new-status .status > div .text textarea {
  width: 100%;
  max-width: 100%;
  border: none;
  resize: none;
}
body .social .content .center-site .new-status .status > div .text textarea:focus {
  border: none;
  outline: none;
}
body .social .content .center-site .new-status .option {
  padding: 5px 10px;
  background-color: #ffffff;
}
body .social .content .center-site .new-status .option button {
  padding: 7px 15px;
  border-radius: 25px;
  border: none;
  background-color: #f6f7f9;
  font-weight: bold;
}
body .social .content .center-site .new-status .option button i.fa-photo {
  margin-right: 8px;
  color: rgba(104, 175, 82, 0.77);
  font-size: 14px;
}
body .social .content .center-site .new-status .option button i.fa-smile-o {
  margin-right: 8px;
  color: #ffffff;
  background-color: #e2b20c;
  border-radius: 50px;
  font-size: 15px;
  padding: 0px 1px;
}
body .social .content .center-site .new-status .option button i.fa-circle {
  font-size: 6px;
  color: #a0aab3;
  margin: 0 1px;
  vertical-align: middle;
}
body .social .content .right-site {
  width: 355px;
  background-color: #ffffff;
}