
@section stylesheet{
    <link href="~/Content/social.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
}
    <div class="container social">
        <div class="header">
            <div class="logo">
                <img src="~/Content/Images/1_0005_logo-.png" />
            </div>
            <div class="search">
                <div>
                    <div class="input-group s-first">
                        <input type="text" class="form-control" placeholder="Tôi muốn tìm...">
                        <span class="input-group-addon"><i class="fa fa-caret-down"></i></span>
                    </div>
                    <div class="input-group s-last">
                        <select class="form-control">
                            <option>Đà Nẵng</option>
                            <option>Sài Gòn</option>
                            <option>Hà Nội</option>
                            <option>Hải Phòng</option>
                            <option>Cần Thơ</option>
                        </select>
                    </div>
                    <button><i class="fa fa-search"></i></button>
                </div>
            </div>
        </div>
        <div class="navigation">
            <button class="user-button"><i class="fa fa-user"></i></button>
            <span class="user-name">Tên người dùng</span>
            <button class="setting-button"><i class="fa fa-cog"></i></button>
            <button class="bell-button"><i class="fa fa-bell-o"></i></button>
            <div class="network">
                <button class="fb-button"><i class="fa fa-facebook"></i></button>
                <button class="tw-button"><i class="fa fa-twitter"></i></button>
                <button class="yo-button"><i class="fa fa-youtube"></i></button>
                <button class="ma-button"><i class="fa fa-envelope"></i></button>
            </div>
        </div>
        
        <div class="content">
            <div class="left-site">
                <div class="avatar">
                    <img src="~/Content/Images/1_0027_images.png" />
                </div>
                <div class="edit-profile">
                    <span><i class="fa fa-edit"></i>Edit Profile</span>
                </div>
                <h2 class="account-manager">
                    <a href="#">Quản lý tài khoản</a>
                </h2>
                <p class="complete-measure">
                    Profile <span>40%</span> Complete
                </p>
                <ul class="action">
                    <li>
                        <a href="#"><i class="fa fa-cog"></i>Account Settings</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-lock"></i>Change Pasword</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-power-off"></i>Log Out</a>
                    </li>
                </ul>
                <p class="contact"><span class="address"><i class="fa fa-map-marker"></i>Ho Chi Minh, Viet Nam</span><span class="phone"><i class="fa fa-phone"></i>0935 69 0369</span></p>
                <div class="favourite-list">
                    <h2 class="header-list">User's favourite lists</h2>
                    <ul class="block">
                        <li>
                            <img src="~/Content/Images/1_0000_Hinh-7-a9728.png" />
                            <p class="status">Mới</p>
                            <div class="name-button name-button-1">
                                <span class="name">Biệt thự Phú Mỹ Hưng A</span>
                                <button><i class="fa fa-arrow-circle-o-right"></i></button>
                            </div>
                        </li>
                        <li>
                            <img src="~/Content/Images/1_0003_Beautiful-and-Modern-Malimbu-Cliff-Villa-in-Lombok-Island-Indonesia-copy.png" />
                            <p class="status">Đã bán</p>
                            <div class="name-button name-button-2">
                                <span class="name">Biệt thự Phú Mỹ Hưng BCA</span>
                                <button><i class="fa fa-arrow-circle-o-right"></i></button>
                            </div>
                        </li>
                        <li>
                            <img src="~/Content/Images/1_0000_Hinh-7-a9728.png" />
                            <p class="status">Giảm 20%</p>
                            <div class="name-button name-button-3">
                                <span class="name">Biệt thự Phú Mỹ Hưng CB</span>
                                <button><i class="fa fa-arrow-circle-o-right"></i></button>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="event-list">
                    <h2 class="header-list">Event Lists</h2>
                    <ul class="block">
                        <li>
                            <div class="date-month">
                                <span class="date">20</span>
                                <span class="month">july</span>
                            </div>
                            <div class="name-time">
                                <span class="name">Family sunday</span>
                                <div class="day-time">
                                    <span class="day">Sunday</span>
                                    <span class="time">9:30am</span>
                                </div>
                            </div>
                            <button><i class="fa fa-chevron-right"></i></button>
                        </li>
                        <li>
                            <div class="date-month">
                                <span class="date">20</span>
                                <span class="month">july</span>
                            </div>
                            <div class="name-time">
                                <span class="name">Family sunday</span>
                                <div class="day-time">
                                    <span class="day">Sunday</span>
                                    <span class="time">9:30am</span>
                                </div>
                            </div>
                            <button><i class="fa fa-chevron-right"></i></button>
                        </li>
                        <li>
                            <div class="date-month">
                                <span class="date">20</span>
                                <span class="month">july</span>
                            </div>
                            <div class="name-time">
                                <span class="name">Family sunday</span>
                                <div class="day-time">
                                    <span class="day">Sunday</span>
                                    <span class="time">9:30am</span>
                                </div>
                            </div>
                            <button><i class="fa fa-chevron-right"></i></button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="center-site">

            </div>
            
            <div class="right-site">

            </div>
        </div>
    </div>
